*{
    box-sizing: border-box;
    margin: 0;
}

nav{
    width:100%;
    height: 61px;
    position: fixed;
    top: 0;
}

li{
    list-style-type: none;
    float: left;
    width:75px;
    height: 45px;
    text-align: center;
    padding-top:11px;
}

div{
    display: inline-block;
    text-align: center;
    width:100%;
    height: 510px;
    background-image: conic-gradient(rgb(224, 149, 149), rgb(209, 209, 161), rgb(105, 189, 105));
    
}


li:hover{
    background-color: rgb(216, 216, 216);
}

a{
    text-decoration: none;
    color: black;
}
