#team{
    padding-top: 75px;
    text-align: center;
    width:100%;
    height: auto;
    background-color: rgb(148, 98, 47);
}

#team h2{
    padding-left: 39px;
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 27px;
}

#team h5{
    padding-left: 39px;
    font-size: 19px;
    font-weight: 90;
    margin-bottom: 27px;
}

#tmember{
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
}

#t1,#t2,#t3,#t4{
    width:25%;
}

#tmember img{
width:100%;
}

