#team{
    padding-top: 75px;
    text-align: center;
    width:100%;
    height: 451px;
    background-color: rgb(148, 98, 47);
    padding-left: 39px;
}

#team h2{
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 27px;
}

#team h5{
    font-size: 19px;
    font-weight: 90;
    margin-bottom: 27px;
}

#tmember{
    display: flex;
}
