* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  padding: 45px 125px 45px 125px;
}

h2 {
  color: rgb(2, 81, 2);
  width: 31%;
  float: left;
}

a {
  color: grey;
  margin-right: 29px;
}

i {
  color: grey;
  margin-right: 9px;
}
