* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  padding: 55px 85px 55px 85px;
  background-color: rgb(195, 215, 222);
}

h2 {
  font-size: 33px;
  margin-bottom: 15px;
}

h4 {
  font-size: 19px;
  font-weight: 90;
}

#events {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

#first,
#second,
#third,
#fourth {
  width: 100%;
  height: 107px;
  border-radius: 9px;
  padding: 15px;
  margin-bottom: 13px;
  text-align: center;
  background-color: white;
}

#date {
  width: 7%;
  height: 100%;
  float: left;
  margin-right: 21px;
  padding: 15px 5px 0 5px;
}

#date h6 {
  font-size: 11px;
  margin-bottom: 15px;
}

#details {
  text-align: justify;
  width: 78%;
  height: 100%;
  float: left;
}

#details h3 {
  padding-top: 5px;
  font-size: 25px;
  margin-bottom: 9px;
}

#details h6 {
  font-size: 11px;
  width: 100%;
  font-weight: 90;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#details h6:hover {
  overflow: auto;
  white-space: wrap;
}
