* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  color: grey;
}

body {
  padding: 17px 55px;
}

img {
  width: 38%;
  float: left;
}

#title {
  position: absolute;
  width: 30%;
  margin: 45px 0 35px 335px;
  background-color: white;
  padding: 9px 5px 9px 17px;
}

#title i {
  font-size: 11px;
  float: left;
  color: rgb(232, 232, 3);
  margin: 0 7px 13px 0;
}

h2 {
  float: left;
  font-size: 21px;
}

h5 {
  position: absolute;
  width: 13%;
  margin-top: 43%;
  font-size: 11px;
  background-color: black;
  color: white;
  padding: 7px;
}

#product{
  display: flex;
}

#description{
  width:62%;
  padding: 145px 65px 35px 25px;
}

#time{
  width:15%;
  float: left;
  margin-right: 17px;
}

#time i{
  float:left;
  margin: 2px 7px 0 0;
  font-size: 17px;
}

#level{
  width:15%;
  float: left;
  margin-right: 17px;
}

#level i{
  float:left;
  margin: 2px 7px 0 0;
  font-size: 17px;
}

#badget i{
  float:left;
  margin: 2px 7px 0 0;
  font-size: 17px;
}

#details{
  margin-top: 31px;
}

h4{
  margin-bottom: 15px;
}

input{
  float: left;
  accent-color: rgb(232, 232, 3);
  font-size: 0.63em;
  text-align: center;
  margin-top: -1.5px;
  margin-right: 5px;
}

input[type="checkbox"]:checked:after{
  content: '\2713';
  color:  white;
}

#details h6{
  margin-bottom: 9px;
}

#ins{
  margin: 23px 0 15px 0;
}

li{
  margin: 7px 0 0 -9px;
}
