* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  padding: 17px 55px;
}

img {
  width: 38%;
  float: left;
}

#title {
  position: absolute;
  width: 30%;
  margin: 45px 0 35px 335px;
  background-color: white;
  padding: 9px 5px 9px 17px;
}

#title i {
  font-size: 11px;
  float: left;
  color: rgb(232, 232, 3);
  margin: 0 7px 13px 0;
}

h2 {
  float: left;
  font-size: 21px;
}
