* {
  box-sizing: border-box;
  margin: 0;
}

h2 {
  margin: 75px 0 31px 195px;
  font-size: 25px;
}

h5{
    margin-left: 195px;
    font-size: 16px;
    font-weight: 90;
}

a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 21px;
    width:225px;
    height: 45px;
    margin-bottom: 13px;
    text-align: center;
    padding-top: 9px;
    border-radius: 5px;
    margin-left: -170px;
    transition: 0.8s;
}

nav{
    position: absolute;
}

#about{
    background-color: #04AA6D;
}

#blog{
    background-color: blue;
}

#projects{
    background-color: red;
}

#contact{
    background-color: black;
}

a:hover{
    margin-left: 0;
}
