*{
    box-sizing: border-box;
    margin: 0;
}

h1{
    padding-top: 65px;
    font-size: 47px;
    margin-bottom: 25px;
    text-align: center;
}

h5{
    font-size: 23px;
    font-weight: 90;
}

h2{
    font-size: 35px;
    margin: 39px;
    text-align: center;
}

nav{
    display: block;
    background-color: rgb(40, 40, 40);
    height: 45px;
    position: sticky;
    top: 0;
    margin: 69px 0 59px 0;
    outline: 0.5px solid rgb(40, 40, 40);
}

a{
    float:left;
    width:9%;
    color: white;
    text-decoration: none;
    font-size: 21px;
    padding-top: 9px;
    height: 45px;
    text-align: center;
}

a:hover{
    background-color: rgb(143, 142, 142);
}

main{
    padding: 0 245px 45px 245px;
    text-align: justify;
}
