*{
    box-sizing: border-box;
    margin: 0;
}

nav{
    position: fixed;
    background-color: black;
    height: 100%;
    width:15%;
    padding-top: 25px;
}

a{
    display: block;
    padding: 13px 0 9px 13px;
    text-decoration: none;
    color: grey;
    font-size: 19px;
}

*{
    box-sizing: border-box;
    margin: 0;
}

nav{
    position: fixed;
    background-color: black;
    height: 100%;
    width:15%;
    padding-top: 25px;
}

a{
    display: block;
    padding: 13px 0 9px 13px;
    text-decoration: none;
    color: grey;
    font-size: 19px;
}

i{
    margin-right: 9px;
}

h2{
    position: absolute;;
    margin: 33px 0 0 245px;
    font-size: 27px;
}


