* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 21px;
  border: 2px solid;
  border-radius: 33px;
  text-align: center;
}

h2 {
  font-size: 43px;
  font-weight: 330;
  margin: 49px 0 17px 0;
}

h5{
    font-size: 15px;
    font-weight: 530;
    margin-bottom: 35px;
    color: grey;
}

#time{
    width:43%;
    height: auto;
    float: left;
    text-align: right;
    padding-right: 41px;
    border-right: 2px solid;
}

#time h5{
    margin-top: 49px;
}

.dot{
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: black;
    margin: -17px 0 0 40.7%;
}
