* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 99px;
}

#t12 {
  display: flex;
  margin-bottom: 59px;
}

#t1 {
  width: 35%;
  height: auto;
  float: left;
  margin-right: 159px;
}

h5 {
  font-size: 19px;
  font-weight: 90;
}

#testimonial1 {
  background-color: black;
  color: white;
  padding: 43px;
  border-radius: 17px;
  border: none;
}

.triangle-down {
  width: 0;
  height: 0;
  border-right: 11px solid transparent;
  border-left: 11px solid transparent;
  border-top: 15px solid black;
  margin-left: 69px;
}

#t1 img {
  width: 47%;
  border-radius: 50%;
  float: left;
  margin-right: 19px;
}

h3 {
  font-size: 23px;
}

#t1 h3 {
  margin: 43px 0 9px 0;
}

h6 {
  font-size: 15px;
  font-weight: 90;
}

#t2 {
  width: 45%;
  border: 2px solid;
  border-radius: 39px;
  padding: 39px 79px 0 79px;
}

#t2 img {
  width: 45%;
  border-radius: 50%;
  float: left;
  margin: 39px 13px 0 0;
}

#t2 h3 {
  margin: 63px 0 9px 0;
}

#t3 {
  width: 100%;
  height: auto;
  display: flex;
}

#t3 img {
  width: 39%;
  height: 245px;
  float: left;
  margin-right: 49px;
}
