*{
    box-sizing: border-box;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    width:110%;
    margin-left:-10%;
}

li{
    background-color: white;
    text-decoration-style: none;
    display: inline;
    float:left;
    width:25%;
    text-align: center;
    padding-top: 11px;
    height: 55px;
    margin-bottom: 195px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight: 90;
}

li:hover{
    background-color: rgb(228, 228, 228);
}

h2{
    margin-left: 41px;
    font-size: 41px;
    color: white;
}

h5{
    margin-top: 21px;
    margin-left: 41px;
    font-size: 21px;
    font-weight: 90;
    color: white; 
}
