* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  padding: 33px 195px 33px 195px;
}

#container {
  background-color: rgb(250, 221, 226);
  padding: 125px 305px 125px 305px;
  border-radius: 7px;
}

#content {
  padding: 27px 9px 41px 9px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 7px;
  text-align: center;
}

img{
    width:7%;
}

h5 {
  margin-bottom: 7px;
}

input {
  width: 21%;
  height: 45px;
  padding-left: 21px;
  border: 1.5px solid rgb(215, 212, 212);
  margin-bottom: 13px;
}

a{
    color: black;
    font-weight: bold;
}

h6 {
  font-size: 10px;
  margin-bottom: 17px;
  font-weight: 90;
}
