* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  padding: 39px 205px;
}

.container {
  background-color: rgb(172, 172, 172);
  width: 100%;
  height: 86vh;
  border-radius: 9px;
  padding: 43px;
}

.find {
  grid-area: find;
  background-color: rgb(243, 241, 241);
  padding: 10.5px;
  border-radius: 13px;
}

.find i {
  position: absolute;
  font-size: 11px;
  color: grey;
}

#find {
  width: 225px;
  height: 25px;
  border: none;
  background-color: white;
  padding-left: 33px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

#localization {
  width: 155px;
  height: 25px;
  border: none;
  background-color: white;
  padding-left: 27px;
  margin-left: -7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.find button {
  width: 101px;
  height: 25px;
  border: none;
  background-color: rgb(215, 91, 132);
  color: white;
  border-radius: 7px;
}

.search {
  grid-area: search;
  background-color: rgb(243, 241, 241);
  padding: 10.5px;
  border-radius: 13px;
}

.description {
  grid-area: description;
  background-color: white;
  padding: 10px;
  border-radius: 13px;
}

.grid {
  display: grid;
  grid-template-areas:
    "find find find find description description"
    "find find find find description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description";
  gap: 10px;
}

.results img {
  width: 10%;
}

.search h4 {
  float: left;
  margin-right: 195px;
}

.search h6 {
  margin: 1px 0 15px 0;
}

.job{
  width: 45%;
  height: 99px;
  background-color: white;
  margin: 0 7px 7px 0;
  float: left;
}
