* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  padding: 39px 245px;
}

.container {
  background-color: rgb(172, 172, 172);
  width: 100%;
  height: 86vh;
  border-radius: 9px;
  padding: 45px;
}

.find {
  grid-area: find;
  background-color: rgb(232, 230, 230);
  padding: 10px;
  border-radius: 13px;
}

.find i{
  position: absolute;
  font-size: 11px;
  color: grey;
}

#find{
  width: 215px;
  height: 21px;
  border: none;
  background-color: white;
  padding-left: 23px;  
}

#localization{
  width: 135px;
  height: 21px;
  border: none;
  background-color: white;
  padding-left: 23px;  
  margin-left: -7px;
}

.find button{
  width: 105px;
  height: 21px;
  border: none;
  background-color: rgb(215, 91, 132);
  color: white;
  border-radius: 7px;
}

.search {
  grid-area: search;
  background-color: rgb(232, 230, 230);
  padding: 10px;
  border-radius: 13px;
}

.description {
  grid-area: description;
  background-color: white;
  padding: 10px;
  border-radius: 13px;
}

.grid {
  display: grid;
  grid-template-areas:
    "find find find find description description"
    "find find find find description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description"
    "search search search search description description";
  gap: 10px;
}
