* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  padding: 75px 195px 75px 195px;
}

#container {
  background-color: rgb(225, 240, 253);
  padding: 45px 295px 45px 295px;
  border-radius: 7px;
}
