* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  padding: 21px 175px;
}

#container {
  background-color: rgb(123, 217, 165);
  padding: 45px 365px 45px 365px;
  color: white;
  border-radius: 7px;
}

#context {
  background-color: black;
  border-radius: 13px;
  padding-top: 21px;
}

i {
  font-size: 11px;
  margin: 1px 35px 0 9px;
  float: left;
}

h5 {
  font-size: 13px;
  margin: 0 0 27px 13px;
}
