* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  padding: 45px 255px;
}

.container {
  background-color: rgb(236, 233, 233);
  width: 100%;
  height: 85vh;
  border-radius: 9px;
  padding: 95px 275px;
}

.name {
  width: 17vw;
  height: 6vh;
  background-color: white;
  padding: 7px 7px 7px 13px;
  margin-bottom: 13px;
  border-radius: 9px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.name h5 {
  float: left;
  margin-top: 5.5px;
}

.name h6 {
  margin-top: 3.5px;
}

#pro {
  padding: 2px 2px 1px 2px;
  background-color: rgb(173, 110, 231);
  color: blue;
  border: 1.5px solid blue;
  border-radius: 5px;
  font-size: 8px;
  float: left;
  margin: 5px 81px 0 2px;
}

img {
  width: 11%;
  float: left;
  margin-right: 9px;
  border-radius: 50%;
}

.details {
  width: 17vw;
  background-color: white;
  padding: 7px 13px;
  border-radius: 9px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.profile img {
  width: 17%;
  margin-right: 5px;
}

.profile h5 {
  float: left;
  margin-top: 3.5px;
}

#pro1 {
  display: inline-block;
  padding: 2px 2px 1px 2px;
  background-color: rgb(173, 110, 231);
  color: blue;
  border: 1.5px solid blue;
  border-radius: 5px;
  font-size: 8px;
  margin: 0 0 4px 2px;
}

.menu i{
  position: absolute;
  margin-top: -3px;
}

.menu h6{
  margin-left: 21px;
  margin-bottom: 25px;
}

#grey{
  margin: -13px 0 14px -7px;
  padding: 7px 7px 0px 7px;
  height: 25px;
  width: 106%;
  background-color: rgb(240, 239, 239);
  border-radius: 11px;
}
