* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  padding: 45px 255px;
}

.container {
  background-color: grey;
  width: 100%;
  height: 85vh;
  border-radius: 9px;
  padding: 55px 325px;
}

img{
    width: 70%;
}
