* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  padding: 55px 245px;
}

.container {
  background-color: rgb(227, 240, 250);
  border-radius: 7px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 145px 85px;
}

.box{
    padding: 13px 7px;
}

#box1{
    background-color: white;
    width: 45%;
    float: left;
    margin-right: 45px;
}

img{
    width:12%;
}

#box2{
    width:45%;
    background-color: white;
    float: left;
}
